 <div *ngIf="loadingData" class="please-wait-wrapper"> 
    <i class="fa fa-spinner fa-spin text-primary" aria-hidden="true"></i>
</div>

<div *ngIf="!loadingData && todoLists.length == 0" class="text-info" style="text-align: center;;">
    {{ 'todoLists.NoListsFound' | translate }}
</div>

<table *ngIf="!loadingData && todoLists.length > 0" class="table table-striped table-hover">
    <thead class="thead-default">
        <tr>
            <th>{{ 'todoLists.TableColName' | translate }}</th>
            <th>{{ 'todoLists.TableColCategory' | translate }}</th>
            <th>{{ 'todoLists.TableColDone' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of todoLists">
            <td>{{ list.name }}</td>
            <td>{{ list.categoryName }}</td>
            <td>{{ list.done }}</td>
        </tr>
    </tbody>
</table>