.ng-invalid.ng-touched:not(form)
{
    border: 2px solid red;
}

label
{
    padding-top: 20px;
}

button
{
    margin-top: 20px;
}

.please-wait-wrapper
{
    text-align: center; 
    font-size: 25pt; 
    padding: 15px;
}